<div class="row">
  <div class="col-xs-10">
      <app-shopping-edit></app-shopping-edit>
      <hr>
      <ul class="list-group list-group-flush text-white-50">
          <li class="list-group-item bg-dark">Cras justo odio</li>
          <li class="list-group-item bg-dark">Dapibus ac facilisis in</li>
          <li class="list-group-item bg-dark">Morbi leo risus</li>
          <li class="list-group-item bg-dark">Porta ac consectetur ac</li>
          <li class="list-group-item bg-dark">Vestibulum at eros</li>
        </ul>
  </div>
</div>