<div class="row">
  <div class="col-xs-23">
    <h1>Edit</h1>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName" placeholder="Strawberry">
          </div>
          <div class="form-group col-md-3">
            <label for="inputAmount">Amount</label>
            <input type="number" class="form-control" id="inputAmount" placeholder="2">
          </div>
            <div class="form-group col-md-3">
              <label for="inputMeasurement">Measurement</label>
              <select id="inputMeasurement" class="form-control">
                <option selected>Kg</option>
                <option>Pza.</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-8"></div>
            <div class="col-2">
              <button type="submit" class="btn btn-secondary">Cancel</button>
            </div>
            <div class="col-2">
              <button type="submit" class="btn btn-primary">Edit</button>
            </div>
          </div>
    </form>
  </div>
</div>
