<div class="row" style="border-left: solid 1px rgb(218, 216, 216); padding: 5%; height: 100%;">
  <div class="col-xs-12">
    <h1>Detail</h1>
    <hr>
    <div class="card text-white bg-dark mb-3">
      <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h2>Name</h2>
          </div>
          <div class="col-4">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-primary">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <p class="card-text" style="padding-top: 5%;">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
          <h5 style="padding-top:5%;">Ingredients</h5>
          <ul class="list-group list-group-flush ">
              <li class="list-group-item bg-dark">Cras justo odio</li>
              <li class="list-group-item bg-dark">Dapibus ac facilisis in</li>
              <li class="list-group-item bg-dark">Morbi leo risus</li>
              <li class="list-group-item bg-dark">Porta ac consectetur ac</li>
              <li class="list-group-item bg-dark">Vestibulum at eros</li>
            </ul>
      </div>
    </div>
  </div>
</div>
